:root{
    --uni-color: rgb(68, 68, 252);
    --text-style: 'Poppins', 'Nunito', sans-serif;
}

*{
    padding: 0px;
    margin: 0px;
    /* background-color: rgb(184, 189, 251); */
}
body{
    background-color: rgb(246, 246, 251);
}

header{
    width: 100%;
    height:550px;
    /* border: 2px solid black; */
    background-image: url("Assets/Hero-bg.png");
}

nav{
    /* border: 2px solid red; */
    width: 50%;
    margin: auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

}

nav h2{
    color: var(--uni-color);
    font-family: var(--text-style);
    font-weight: 700;
}

nav button{
    width: 80px;
    height: 30px;
    background-color: var(--uni-color);
    color: white;
    border: 0px; 
    border-radius: 10px;
}

.heading-div{
    /* border: 2px solid black; */
    width: 650px;
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-around;
    align-items: center;
}

.heading-div p{
    font-size: 50px;
    text-align: center;
    font-family: var(--text-style);
    font-weight: 700;
    text-shadow: 0px 3px 2px rgb(128, 128, 128);

}
.heading-div button{
    width: 150px;
    height: 40px;
    background-color: var(--uni-color);
    color: white;
    border-radius: 10px;
    border: 0;
    padding:0px 20px 0px 20px;
}

.first-section{
    /* border: 2px solid black; */
    width: 900px;
    height: 200px;
    margin: 80px auto 0px auto;
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 200px;

}

.first-section .action{
    /* border: 2px solid black; */
    height: 115px;

}

.first-section .action h2{
    font-family: var(--text-style);
}

.first-section .action p{
    /* border: 2px solid black; */
    width: 280px;
    margin: 10px 0px;
    font-family: var(--text-style);
    color: gray
}

.first-section .action button{
    background-color: var(--uni-color);
    color: white;
    font-family: var(--text-style);
    padding: 5px 10px;
    border: 0;
    border-radius: 10px;

}

.first-section img{
    width: 250px;
    height: auto;
    border-radius: 20px;
}

.second-section{
    display:flex;
    flex-direction: column;
    /* border: 2px solid blue; */
    width: 790px;
    margin: 80px auto 20px auto;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: #e0dafd;
    height: 150px;
    justify-content: center;
    border-radius: 20px;;
}

.second-section h2{
    font-family: var(--text-style);
}

.second-section .data{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid black; */
    width: 600px;
}

.second-section .data .sub-data{
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    align-items: center;
    font-family: var(--text-style);
}

.second-section .data .sub-data .caption{
    color: rgb(93, 92, 92);
}

.second-section .data .sub-data .count{
    font-size: 55px;
    font-weight: 900;
    color: var(--uni-color)
}

.third-section{
    width: 1200px;
    height: 250px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    margin: 80px auto 20px auto;
    align-items: center;
    gap: 40px;
    font-family: var(--text-style);
}

.third-section h2{
    font-size: 30px;
}

.third-section .reviews{
    display: flex;
    /* border: 2px solid red; */
    width: 800px;
    justify-content: space-between;
    
}

.third-section .reviews .says{
    /* border: 2px solid green; */
    padding: 10px;
    width: 230px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    border-radius: 10px;
}

.third-section .reviews .says p{
    color: black;
    font-size: 13px;
}
.third-section .reviews .says .reviewer{
    display: flex;
    gap: 10px;
}

.third-section .reviews .says .reviewer img{
    border-radius: 50%;
}

.third-section .reviews .says .reviewer .reviewer-name{
    font-size: 13px;
    font-style: italic;
    font-weight: bold;
    color: rgb(115, 114, 114);
}

.third-section .reviews .says .reviewer .date{
    font-size: 12px;
    color: rgb(167, 164, 164);
}


.fourth-section{
    /* border: 2px solid black; */
    width: 800px;
    margin: 80px auto 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    padding: 30px;
    font-family: var(--text-style);
    background-color: white;
    border-radius: 10px;
}

.fourth-section p{
    font-size: 12px;
    color: gray;
}

.fourth-section h1{
    font-size: 35px;
}

.fourth-section button{
    display: block;
    width: 150px;
    padding: 10px 20px;
    background-color: var(--uni-color);
    color: white;
    border-radius: 10px;
    border:0;
}

.fourth-section img{
    width: 650px;
    border-radius: 20px;

}

.fifth-section{
    /* border: 2px solid black; */
    width: 850px;
    margin: 90px auto 20px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 90px;
}

.fifth-section h1{
    font-family: var(--text-style);
    font-size: 65px;
    padding: 10px;
    /* border:2px solid black; */
    width: 370px;
}

.fifth-section form{
    /* border: 2px solid red; */
    width: 365px;
}
.fifth-section form label{
    display: block;
    font-family: var(--text-style);
    font-weight: bold;
    margin: 10px 10px 10px 0px;
}

.fifth-section form input{
    width: 340px;
    height: 25px;
    padding: 10px;
    border-radius: 5px;
}

.fifth-section form textarea{
    padding: 10px;
    resize: none;
    border-radius: 5px;
}

.fifth-section form button{
    width: 370px;
    background-color: var(--uni-color);
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 10px 40px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
    background-color: white;
    padding: 50px;
    margin-top: 80px;
}

footer h1{
    font-family: var(--text-style);
    color: var(--uni-color);
    font-size: 50px;
}

footer p{
    /* border: 2px solid black; */
    width: 440px;
    text-align: center;
    padding: 10px;
}

footer nav{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    gap: 60px;
    height: 40px;
}

footer nav a{
    text-decoration: none;
    color: gray;
}